* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/********** HEADER ********/
header {
    display: grid;
    grid-template-columns: 24px auto 24px 44px;
    gap: 1px;
    background-color: #3C4F76;
    align-items: center;
    max-width: 100%;
    padding: 5px 0;
    position: relative;
}

header span {
    font-family: "Merriweather", serif;
    color: #fff;
    text-align: center;
}

.site-logo {
    width: 24px;
    height: 24px;
    justify-content: center;
    margin-left: 10px;
}

.dark-mode {
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 18px;
    background: none;
    border: none;
    margin-right: 10px;
    outline: none;
}

.dark-mode::before {
    content: "🌗";
    display: block;
    text-align: center;
}

/******************** NAVEGATION ***************************/
.hamburguer {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.hamburguer::before {
    content: "\2630";
    font-size: 1.2rem;
}

.hamburguer.show::before {
    content: "\00D7";
}

/*********************** nav menu ***************************/
.navigation {
    display: none;
    background-color: #3C4F76;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 50; 
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    color: #fff;
    border-bottom: solid 1px #ddd;
    font-family: "Merriweather", serif;
    font-size: 14px;
}

.navigation li.current a {
    background-color: #fff;
    color: #3C4F76;
}

.navigation a:hover {
    background-color: #ccc;
    color: #3C4F76;
    cursor: pointer;
}

/*********************** FOOTER ***************************/
footer {
    background-color: #3C4F76;
    color: #fff;
    padding: 10px;
    font-family: "Roboto Flex", serif;
    padding-left: 10px;
}

.name-footer {
    font-weight: bold;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    padding-bottom: 10px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    border: #ddd solid 1px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

/************* H1 ******************/
h1 {
    font-family: "Merriweather", serif;
    text-align: center;
}

/***************** TOGGLES **************************/
.view-toggle {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.view-toggle button {
    padding: 4px 8px;
    border: 1px solid #3C4F76;
    background-color: #ccc;
    border-radius: 6px;
    cursor: pointer;
}


#grid-btn::before {
    content: "⊞";
}

#list-btn::before {
    content:"☰";
}
.view-toggle button:hover {
    background-color: #3C4F76;
    color: #fff;
}
/************ MAIN ****************/
main {
    max-width: 100%;
}

/************************   DIRECTORY   ***************************************/
#cards-directory {
    width: 95%;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
}

#cards-directory img {
    width: 200px;
    height: auto;
}

#cards-directory.grid {
    display: grid;
    grid-template-columns: 1fr;
}

#cards-directory.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

#cards-directory.list .member-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    font-size: 15px;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 0;
    background-color: white;
    color: black;
}

#cards-directory.list .member-card:nth-child(even) {
    background-color: #3C4F76;
    color: #fff;
}

#cards-directory.list .member-card h3,
#cards-directory.list .member-card p,
#cards-directory.list .member-card a {
    font-size: 10px;
    white-space: normal; 
    flex: 1 1 auto;
    min-width: 0;       
}


#cards-directory.list .member-card img {
    display: none;
}

#cards-directory.list .member-card h3 {
    width: 20%; 
}
#cards-directory.list .member-card p:nth-of-type(1) {
    width: 25%;
}
#cards-directory.list .member-card p:nth-of-type(2) {
    width: 15%;
}
#cards-directory.list .member-card a {
    width: 25%;
}
#cards-directory.list .member-card p:nth-of-type(3) {
    width: 15%; 
}


/***********----- div spotlight ------*****************/

#spotlight {
    display: grid;
    grid-template-columns: 1fr;
    box-sizing: border-box;
    padding: 10px;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

#spotlight-cont {
    width: 100%;
    max-width: 100%;
}

/******************** MEMBERS INFO *******************/
.member-card {
    max-width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 6px 2px rgb(0,0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 6px;
}

.card-body img {
    max-width: 100%;
    width: 200px;
    height: auto;
}

.member-card h3 {
    font-family: 'Merriweather', serif;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.member-card p {
    font-family: 'Roboto Flex', serif;
    padding-bottom: 10px;
}

/************--- hero img and btn *********************/
#hero {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 5;
}

#hero img {
    width: 100%;
    height: auto;
    display: block;
}

#hero .join-btn {
    position: absolute;
    bottom: 10px;
    bottom: 20px;     
    right: 12px;   
    padding: 10px 20px;
    background-color: #3C4F76;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-family: 'Roboto Flex', serif;
}

#hero .join-btn:hover {
    background-color: #fff;
    color: #3C4F76;
}

.title-name {
    position: absolute;
    top: 20%;
    left: 2%;
    font-family: 'Merriweather', serif;
    color: #fff;
    font-size: 20px;
}


/****************** div first grid- *********************/
.first-grid {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

/*************  EVENTS *******************/
#events {
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    margin-top: 10px;
}

.event-card {
    margin: 10px;
}

.event-card p {
    font-family: 'Roboto Flex', serif;
}

.title-e {
    color: #3C4F76;
    font-family: 'Merriweather', serif;
}

.date-event {
    font-weight: bold;
}

.weather {
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

.weather-fc {
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}

h2 {
    background-color: #3C4F76;
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 4px;
    padding-left: 10px;
}

/* current weather*/

#current-weather {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

#current-weather img {
    width: 100px;
    height: auto;
    padding-left: 20px;
}

.weather-data p {
    padding-left: 60px;
    padding: 2px;
    font-family: 'Roboto Flex', serif;
}

.temp-act {
    font-weight: bold;
}

/* forecast weather*/
#forecast {
    font-family:'Roboto Flex', serif;
}

#forecast p {
    padding: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
}

/****************  FORM    *****************************/
form {
    width: 95%;
    height: auto;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f1f1f1;

}

form h2 {
    padding: 5px;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-family: 'Merriweather', serif;
}

label {
    display: block;
    margin-top: 10px;
    font-family:'Roboto Flex', serif;
    margin-left: 20px;
    width: 100%;
}

form span {
    font-size: 12px;
    color: red;
    font-style: italic;
}

input, textarea, select {
    display: block;
    width: 90%;
    margin: 4px auto 15px auto;
    padding: 8px;
    border-radius: 6px;
}

input:required {
    border: 1px solid #ddd;
}

input:required:invalid {
    box-shadow: inset -6px 0 0 0 red;
}

input:required:valid {
    box-shadow: inset -6px 0 0 0 green;
}

input[type="submit"]{
    display: block;
    background: linear-gradient(to right, #3C4F76, #6c7b95);
    color: #fff;
    width: 60%;
    font-size: 15px;
} 

/**************** MEMBERSHIP LEVELS *******************/
.title-levels {
    background: none;
    color: #3C4F76;
    font-family: 'Merriweather', serif;
}

.levels {
    background-color: #f1f1f1;
    margin: 10px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 15px 0 15px 0;
    text-align: center;
    border: 1px solid #ccc;
}

.levels h3 {
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: #000;
    padding-bottom: 10px;
}

.levels button {
    background-color: #3C4F76;
    padding: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Roboto Flex', serif;
}

/** MODALS ---- */
dialog {
    margin: auto;
    border-radius: 6px;
}

dialog:modal {
    border: 1px solid #ccc;
    padding: 20px;
    width: 85%;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

dialog::backdrop {
    background-color: rgb(0, 0,0,0.3);
}

.modal-header {
    position: relative;
    padding-right: 2rem;
} 

.modal-header .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    font-size: 1rem;
    cursor: pointer;
    color: #3C4F76;
}

dialog h3 {
    color: #3C4F76;
    font-family: 'Merriweather', serif;
    padding-bottom: 10px;
}

dialog p, ul {
    font-family: 'Roboto Flex', serif;
}

dialog ul {
    margin-left: 20px;
}


/******** ANIMATION *********/
@keyframes slideIN {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.levels {
    opacity: 0;
    animation: slideIN 0.5s ease-out forwards;
    transform: translateX(-30px);
}

.levels:nth-child(1) { animation-delay: 0.1s; }
.levels:nth-child(2) { animation-delay: 0.3s; }
.levels:nth-child(3) { animation-delay: 0.5s; }
.levels:nth-child(4) { animation-delay: 0.7s; }

/***************** FORM *********************/
#thank {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}

#thank h2 {
    text-align: center;
}

.thanks-p {
    font-family: 'Roboto Flex', serif;
    text-align: center;
    margin: 10px;
}

/************* CONFFETTI *************/
#confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    overflow: hidden;
    z-index: 9999;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 1;
    border-radius: 20%;
    animation: fall 3s linear 1;
}

@keyframes fall {
    0% { transform: translateY(0) rotate(0deg); }
    100% { transform: translateY(100vh) rotate(360deg); }
}
