@media only screen and (min-width: 38rem) {
    header {
        display: grid;
        grid-template-columns: auto auto 1fr auto;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
    }

    .hamburguer {
        display: none;
    }

    .navigation {
        display: block;
        position: static;
        background: none;
    }

    .navigation ul {
        display: flex;
        gap: 3rem;
        justify-content: flex-end;
        padding-right: 1rem;
    }

    .navigation li.current a {
        background: none;
        color: #fff;
        border-bottom: 2px solid #fff;
    }

    .navigation a {
        border: none;
        box-sizing: border-box;
        padding: 0.5rem 10px;
        display: inline-block;
    }

    .navigation a:hover {
        border-bottom: 2px solid #fff;
        background: none;
        padding: 5px;
        color: #fff;
        font-size: 12px;
    }

    header span {
        padding-left: 1rem;
    }

    /************* H1 IN HERO ****************/
    .title-name {
        top: 40%;
        left: 20%;
        font-size: 40px;
    }

    /************ GRID MEMEBERS *************/
    #cards-directory.grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        align-items: center;
    }

    #cards-directory.grid img { 
        margin: 0 auto;
    }

    #cards-directory.grid .member-card {
        padding-bottom: 20px;
    }

    #cards-directory.list .member-card h3,
    #cards-directory.list .member-card p,
    #cards-directory.list .member-card a {
        font-size: 15px;
        white-space: normal; 
        flex: 1 1 auto;
        min-width: 0;       
    }        


    /********MEMEBERS ***/
    #spotlight {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    #spotlight-cont {
        margin: 0 20px 20px 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        max-width: 97%;
    }

    .member-card {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 100%;
        margin: 5px;
    }

    .member-card h3 {
        grid-column: 1 / -1;
        text-align: center;
    }

    .card-body {
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 10px;
        max-width: 100%;
    }

    .card-body img {
        width: 100%;
        max-width: 200px;
        height: auto;
    }

    .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /*hero and weather*/
    #hero {
        width: 100%;
        height: 300px;
        overflow: hidden;
    }

    #hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center; /*for cut the photo without change the form*/
        display: block;
    }

    .first-grid {
        width: 100%;
        display: grid;
        max-width: 96%;
        padding: 0;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
    }

    .first-grid section {
        width: 100%;
        margin-top: 10px;
    }

    .first-grid section > div {
        width: 100%;
    }

    #events {
        width: 100%;
        box-sizing: border-box;
    }

    #current-weather {
        width: 100%;
        box-sizing: border-box;
    }

    #forecast {
        width: 100%;
        box-sizing: border-box;
    }

    /*********  JOIN BTN ********/
    #hero .join-btn {
        margin-right: 18px;
    }

    /********** FOOTER ********/
    footer {
        padding-left: 25px;
    }


    /*****************LEVELS MEMBERSHIP ****************/
    .form-level {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    form {
        margin-left: 25px;
    } 

    .div-levelsM {
        margin-top: 15px;
    }

    dialog {
        width: 20%;
    }
}