* {
    box-sizing: border-box;
}

/********** HEADER ********/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: #2D232E;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 1px;
}

header span {
    font-size: 1.2rem;
    color: #fff;
}

/******************** NAVEGATION ***************************/
.hamburguer {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburguer::before {
    content: "\2630";
    font-size: 1.2rem;
}

.hamburguer.show::before {
    content: "\00D7";
}

/*********************** nav menu ***************************/
.navigation {
    display: none;
    background-color: #2D232E;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    text-decoration: none;
    color: #fff;
    border-bottom: solid 1px #ddd;
}

.navigation li.current a {
    background-color: #fff;
    color: #2D232E;
}

.navigation a:hover {
    background-color: #ccc;
    color: #2D232E;
    cursor: pointer;
}

/******************** footer ************************/
footer {
    background-color: #2D232E;
    padding: 1rem 10px;
    color: #fff;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}


/********************** MAIN, H1, SECTION AND H2 *****************/
main {
    margin: 0 10px;
}

h1 {
    font-size: 25px;
}

section {
    background-color: #ddd;
    border-radius: 4px;
}

h2 {
    background-color: #2D232E;
    color: #fff;
    text-align: center;
    font-size: 20px;
}


/******************* SECTION about-me ***************/
.about-me p {
    font-size: 15px;
    padding: 0 10px 10px 10px;
}


/************** SECTION student-photo ********************/
.student-photo {
    text-align: center;
}

.student-photo img {
    width: 150px;
    height: 150px;
    padding-bottom: 10px;
    max-width: 100%;
}

/************** SECTION certificates ******************/
.buttons-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 5px;
    border-radius: 4px;
    max-width: 100%;
    margin: 0 10px 0 10px;
}

.buttons-div button {
    max-width: 100%;
    width: 90px;
    cursor: pointer;
}

.buttons-div button:hover {
    background-color: #2D232E;
    color: #fff;
}

.course {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #2D232E;
    max-width: 100%;
    margin: 0 10px 0 10px;
    margin-top: 5px;
    border-radius: 6px;
}

.certificates p {
    text-align: center;
    padding-bottom: 10px;
}