@media only screen and (max-width: 38rem) {
    #cards {
        display: block;
        padding-bottom: 20px;
    }

    section {
        margin-bottom: 20px;
    }

    section img {
        width: 50%;
        height: auto;
    }
}
